@import url(https://fonts.googleapis.com/css?family=Hind:600);
html, body {
	background: #000000 url("images/main2.jpg") 0 0/100% 100% no-repeat fixed;
	color:white;
	font: 1em 'Hind', sans-serif;
	width: 100%;
	height: 100%;
	padding: 0em;
	margin: 0em;
}

body {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

.row {
	position: relative;
	padding: 80px;
	text-align: center;
	background: rgba(24, 24, 24, 0.5);
	border-radius: 100%;
}
.row > a {
	position: absolute;
	display:block;
}

.row > a.mdl {
	top: 50%;
	margin-top: -16px; 
}
.row > a.ctr {
	left:50%;
	margin-left: -16px;
}
.row > a.upr {
	top: 23%;
	margin-top: -16px;
}
.row > a.lwr {
	bottom: 23%;
	margin-bottom: -16px; 
}
.row > img {
	vertical-align:middle;
	width: 300px; height: auto;
	border-radius: 100%;
	border: 1px solid rgba(24, 24, 24, 0.7);
}

.about {
	position: absolute;
	bottom:80px;
	background: rgba(24, 24, 24, 0.7);
	padding-top: 240px;
	box-sizing: border-box;
	font-size:24px;
	font-family: 'Hind', sans-serif;
	width:301px;
   height:301px;
   border-radius:100%;
   clip: rect(230px, 300px, 300px, 0);
}

.row a img {
	height: 32px;
	width: auto;
	vertical-align: middle;
/*	margin: 3px;
*/}

.powered-by {
	position: absolute;
	right: 1em;
	bottom: 0.5em;
}