html, body {
	background: #000000 url("images/main.jpg") 0 0/100% 100% no-repeat fixed;
	color:white;
	font: 1em sans-serif;
	text-align:justify;
	margin:20px 30px;
}
a:link, a:visited {
    color: #FF9900;
    text-decoration: underline;
}
a:link:active, a:visited:active {
    color: red;
} 
.main {
	padding: 1em 1em;
	background: rgba(24, 24, 24, 0.7);
}
.row {
	padding: 15px;
	background-color: black;
}
.row img {
	vertical-align:middle;
	display:inline-block;
	width: 64px;
	height: 64px;
}
.about {
	vertical-align:middle;
	display:inline-block;
	margin-left:10px;
}
.about b {
	margin-left:-1px;
	font-size:22px;
}
.social {
	display:inline-block;
	line-height: 64px;
	float:right;
	vertical-align:middle;
}
.social a img {
	height: 32px;
	width: auto;
	vertical-align: middle;
	margin: 5px;
}
ul li {
	margin-top: 1em;
}
.footer {
	text-align: center;
	background:black; 
	padding: 1em 0;
}
.footer .powered_by {
	display: block;
	font: italic 0.8em/1.3em sans-serif;
}
